@model IEnumerable<TouristGuide.Models.AttractionReview>

@{
    ViewBag.Title = "Unapproved Reviews";
}
@if (Request.IsAuthenticated && (HttpContext.Current.User.IsInRole("admin") || HttpContext.Current.User.IsInRole("moderator ")))
{
    if (Model == null)
    {
        <div class="review">
            <p>The list is empty.</p>
        </div>
    }
    else
    {
        foreach (var item in Model)
        {
        <div class="review" id="@item.ID">
            <p>
                <b>Author: </b>@item.Author
            </p>
            <p>
                <b>Date: </b>@String.Format("{0:d} ({0:HH}:{0:mm})", item.Date)
            </p>
            <p>
                <b>Rating: </b>@item.Rating
            </p>
            <p>
                @item.Text
            </p>
            <p>
                @Html.ActionLink("Approve", "Approve", new { id = item.ID })
                <!--button style="font-size: 1.0em;padding: 5px;border: 1px solid #CCC;" onclick="approve('@item.ID')">Approve</!--button-->
            </p>
        </div>
        }
    }
}