@model IEnumerable<TouristGuide.Models.AttractionImage>

@{
    ViewBag.Title = "Unapproved Images";
}

@if (Request.IsAuthenticated && (HttpContext.Current.User.IsInRole("admin") || HttpContext.Current.User.IsInRole("moderator ")))
{
    if (Model == null)
    {
        <div class="review">
            <p>The list is empty.</p>
        </div>
    }
    else
    {
        <h3>Images</h3>
	            <div class="post-images">
		            <ul class="thumbs noscript">
                    @foreach (var item in Model)
                    {
				        <li>
					        <a class="thumb" href="@Url.Content("~/Content/AttractionImages/" + @item.FileName)" title="@item.Title">
						        <img src="@Url.Content("~/Content/AttractionImages/" + @item.FileName)" alt="@item.Title" />
					        </a>
                            <p>
                                <b>Title: </b>@item.Title
                            </p>
                            <p>
                                <b>Author: </b>@item.Author
                            </p>
                            <p>
                                @Html.ActionLink("Approve", "Approve", new { id = item.ID })
                                <!--button style="font-size: 1.0em;padding: 5px;border: 1px solid #CCC;" onclick="approve('@item.ID')">Approve</!--button-->
                            </p>
                            <br />
				        </li>
                     }
		            </ul>
	            </div>
    }
}